*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.grid-1 {
  width: calc(8.3333333333% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-1 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-2 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-3 {
  width: calc(25% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-3 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-4 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-5 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-6 {
  width: calc(50% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-6 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-7 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-8 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-9 {
  width: calc(75% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-9 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-10 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-11 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-12 {
  width: calc(100% - 24px);
  margin: 12px;
}
@media screen and (max-width: 960px) {
  .grid-12 {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

/*--Primary-Colors--*/
.btn {
  cursor: pointer;
  border: none;
  width: 148px;
  height: 54px;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #232F34;
}

.btn-primary {
  background-color: #F9AA33;
  transition: 0.5s ease;
}
.btn-primary:hover {
  filter: brightness(1.2);
  color: #FFFFFF;
}

.btn-secondary {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  background-color: transparent;
}
.btn-secondary::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e904";
  font-size: 24px;
  color: #232F34;
  font-style: normal;
  margin-right: 0.5rem;
}

@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.ttf.css");
  src: url("./fonts/icomoon.eot.css#iefix") format("embedded-opentype"), url("./fonts/icomoon.woff.css") format("woff");
}
body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 24px 0;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #1C1B1B;
}

li {
  list-style-type: none;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: #0A0909;
}

.section-title-image {
  display: inline-block;
  max-width: 32px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.hero__headline h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #1C1B1B;
}
.hero__headline h3 {
  max-width: 500px;
  margin-top: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #444444;
}
.hero__headline--wrapper {
  margin-top: 3rem;
  display: flex;
}
.hero__email {
  display: flex;
  align-items: center;
}
.hero__email a {
  font-style: normal;
  font-weight: 700;
  font: 1rem;
  line-height: 19px;
  color: #4A6572;
  transition: 0.3s ease;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  position: relative;
}
.hero__email a:hover {
  color: #F9AA33;
}
.hero__email a::after {
  content: url(/assets/images/line-email.png);
  position: absolute;
  display: block;
  left: 16%;
  bottom: -175px;
  pointer-events: none;
}

.arrow-down {
  display: flex;
  justify-content: center;
}
.arrow-down .icon-arrow-down::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e90a";
  font-size: 32px;
  color: #232F34;
  font-style: normal;
  margin-left: 32px;
  cursor: pointer;
}
.arrow-down .icon-arrow-down:hover {
  -webkit-animation: animated-arrow 0.5s ease infinite alternate;
          animation: animated-arrow 0.5s ease infinite alternate;
}

.skills-content {
  margin: 124px auto;
  max-width: 1220px;
}
.skills-content p {
  width: 60%;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 120%;
  margin-top: 32px;
  color: #2c2c2c;
}
.skills-content h3 {
  margin-top: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #232F34;
}
.skills-content__card-content {
  display: flex;
}
.skills-content__card-content--item {
  background-color: #FBFAFA;
  padding: 0 38px 24px 38px;
}
.skills-content__card-content--item--wrapper {
  width: 61px;
  height: 84px;
  background-color: #344955;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-content__card-content--item--wrapper .icon-figma::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e917";
  font-size: 32px;
  color: #F9AA33;
  font-style: normal;
  cursor: pointer;
}
.skills-content__card-content--item--wrapper .icon-code::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e90d";
  font-size: 32px;
  color: #F9AA33;
  font-style: normal;
  cursor: pointer;
}
.skills-content__card-content--item--wrapper .icon-star::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e935";
  font-size: 32px;
  color: #F9AA33;
  font-style: normal;
  cursor: pointer;
}
.skills-content__card-content--item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  color: #232F34;
  margin-top: 14px;
}
.skills-content__card-content--item p {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 120%;
  color: #444444;
  width: 309px;
  margin-top: 14px;
}

.btn {
  cursor: pointer;
  border: none;
  width: 148px;
  height: 54px;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #232F34;
}

.btn-primary {
  background-color: #F9AA33;
  transition: 0.5s ease;
}
.btn-primary:hover {
  filter: brightness(1.2);
  color: #FFFFFF;
}

.btn-secondary {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  background-color: transparent;
}
.btn-secondary::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e904";
  font-size: 24px;
  color: #232F34;
  font-style: normal;
  margin-right: 0.5rem;
}

.container.header::after {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.header__logo {
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  color: #232F34;
}
.header__logo--yellow {
  color: #F9AA33;
}
.header__nav--menu {
  display: flex;
  align-items: center;
}
.header__nav--menu--link {
  margin-right: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
}
.header__nav--menu--link:last-child {
  margin-right: 0;
}
.header__nav--menu--link a {
  transition: 0.5s ease;
}
.header__nav--menu--link a:hover {
  color: #F9AA33;
  font-size: 27px;
  transition: all 300ms;
  font-size-adjust: 20px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__wrapper .icon-sun::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e936";
  font-size: 24px;
  color: #F9AA33;
  font-style: normal;
  margin-left: 32px;
  cursor: pointer;
}

@-webkit-keyframes animated-arrow {
  to {
    transform: translateY(-6px);
  }
}

@keyframes animated-arrow {
  to {
    transform: translateY(-6px);
  }
}/*# sourceMappingURL=global.css.map */