.btn {
  cursor: pointer;
  border: none;
  width: 148px;
  height: 54px;
  border-radius: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $tertiary-color;
}

.btn-primary {
  background-color: $secundary-color;
  transition: 0.5s ease;

  &:hover {
    filter: brightness(1.2);
    color: $white-light;
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  margin-left: calculator-rem(32);

  background-color: transparent;
  @include after-icon("\e904", 24px, $tertiary-color) {
    margin-right: calculator-rem(8);
  }
}
