/*--Primary-Colors--*/
$primary-color: #344955;
$secundary-color: #F9AA33;
$tertiary-color: #232F34;
$complementary-color: #4A6572;

$black-light: #1C1B1B;
$black-dark: #0A0909;
$white-light: #FFFFFF;

$gray-300: #444444;
$gray-400: #2c2c2c;
$gray-500: #a3a3a3;
$gray-800: #FBFAFA;
