//

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: $tertiary-color;

    &--yellow {
      color: $secundary-color;
    }
  }

  &__nav {
    &--menu {
      display: flex;
      align-items: center;

      &--link {
        margin-right: 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;

        &:last-child {
          margin-right: 0;
        }

        a {
          transition: 0.5s ease;

          &:hover {
            color: $secundary-color;
            font-size: 27px;
            transition: all 300ms;
            font-size-adjust: 20px;
          }
        }
      }
    }
  }

  &__wrapper {
    .icon-sun {
      &::before {
        font-family: "icomoon";
        content: "\e936";
        font-size: 32px;
        color: $complementary-color;
      }
    }
  }
}
