.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__headline {
    width: 48%;
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      color: $black-light;
    }
    img {
      width: 32px;
    }
  }

  &__image {
    width: 48%;
  }
}
